apispec==0.39.0
marshmallow==3.0.0rc4
marshmallow-enum==1.4.1
SQLAlchemy==1.2.14
SQLAlchemy-Utils==0.33.6
hashids==1.2.0
click==6.7
teal==0.2.0a38
ereuse-utils[naming, test, session, cli]==0.4.0b21
Flask==1.0.2
Flask-Cors==3.0.6
Flask-SQLAlchemy==2.3.2
colorama==0.3.9
colour==0.1.5
psycopg2-binary==2.7.5
webargs==4.0.0
Werkzeug==0.14.1
